<p id="notice"><%= notice %></p>

<h1>Data List Lines</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_list_lines.each do |data_list_line| %>
      <tr>
        <td><%= data_list_line.value %></td>
        <td><%= link_to 'Show', data_list_line %></td>
        <td><%= link_to 'Edit', edit_data_list_line_path(data_list_line) %></td>
        <td><%= link_to 'Destroy', data_list_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data List Line', new_data_list_line_path %>
