<%= form_with(model: [@reagent_list, reagent_list_line], local: true) do |form| %>
  <% if reagent_list_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reagent_list_line.errors.count, "error") %> prohibited this reagent_list_line from being saved:</h2>

      <ul>
      <% reagent_list_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :reagent_list_line_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
