<p id="notice"><%= notice %></p>

<h1>Unit Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_lists.each do |unit_list| %>
      <tr>
        <td><%= unit_list.name %></td>
        <td><%= link_to 'Show', unit_list %></td>
        <td><%= link_to 'Edit', edit_unit_list_path(unit_list) %></td>
        <td><%= link_to 'Destroy', unit_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit List', new_unit_list_path %>
<%= link_to "back", request.referer.present? ? request.referer : default_path %>
