<p id="notice"><%= notice %></p>

<h1>Reagent Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reagent_lists.each do |reagent_list| %>
      <tr>
        <td><%= link_to reagent_list.name, reagent_list_reagent_list_lines_url(reagent_list) %></td>
        <td><%= link_to 'Show', reagent_list %></td>
        <td><%= link_to 'Edit', edit_reagent_list_path(reagent_list) %></td>
        <td><%= link_to 'Destroy', reagent_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reagent List', new_reagent_list_path %>
