<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit_list_line.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @unit_list_line.value %>
</p>

<%= link_to 'Edit', edit_unit_list_line_path(@unit_list_line) %> |
<%= link_to 'Back', unit_list_lines_path %>
