<p id="notice"><%= notice %></p>

<h1>Mode List Lines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mode_list_lines.each do |mode_list_line| %>
      <tr>
        <td><%= mode_list_line.name %></td>
        <td><%= link_to 'Show', mode_list_line %></td>
        <td><%= link_to 'Edit', edit_mode_list_line_path(mode_list_line) %></td>
        <td><%= link_to 'Destroy', mode_list_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mode List Line', new_mode_list_line_path %>
