<p id="notice"><%= notice %></p>

<h1>Mode Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mode_lists.each do |mode_list| %>
      <tr>
        <td><%= link_to mode_list.name, mode_list_mode_list_lines_url(mode_list) %></td>
        <td><%= link_to 'Show', mode_list %></td>
        <td><%= link_to 'Edit', edit_mode_list_path(mode_list) %></td>
        <td><%= link_to 'Destroy', mode_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mode List', new_mode_list_path %>
